<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


<head>
    
    {% block head %}

        <link rel="stylesheet" href="/css/bootstrap.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/style.css" />

        <script src="/socket.io/socket.io.js"></script>
        <title>{% block title %}{% endblock %} Wolverine js  </title>
    {% endblock %}
</head>

<body>

  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"> Wolverine JS  </a>
        </div>

      </div>
    </div>
    
<br><br><br>

    <div class="container">
      <div class="row">
        {% block content %}{% endblock %}
      </div>



        <div id="footer">
            {% block footer %}

            {% endblock %}
        </div>

    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>    
    <!-- <script src="/js/bootstrap.min.js"></script> -->
<script>

      (function($){
         // write code here
       
         console.log('working');
          var socket = io.connect('http://127.0.0.1:3000');

          console.log(socket);
          socket.on('news', function (data) {
            console.log(data);
          }); 



            socket.on('welcome', function(data) {
                $('#messages').append('<li>' + data.message + '</li>');

                socket.emit('i am client', {data: 'foo!'});
            });
            socket.on('time', function(data) {
                console.log(data);
                $('#messages').append('<li>' + data.time + '</li>');
            });
            socket.on('error', function() { console.error(arguments) });
            socket.on('message', function() { console.log(arguments) });




          var content = $('#simple-content');
          socket.on('connect', function() {
            $('#simple-form').css('display', 'block');
            content.append($('<p>').text('Connected'));  
          });
           
          socket.on('message', function(msg) {
            content.append($('<p>').text(msg)
                   .append($('<em>').text(' from server')));
          });
           
          $('#simple-form').submit(function(e) {
            e.preventDefault();
            var textObj = $('#simple-text');   
            var msg = textObj.val();
            textObj.val('');
            content.append($('<p>').text(msg)
                   .append($('<em>').text(' from me')));
            socket.send(msg);
          });


       
      })(jQuery);


</script>


</body>

</html>